.file-navigation__container {
    position: relative;
    width: 80%;
    border: 4px solid #500bc0;
}

.file-navigation-controls {
    padding: 7px 0;
    display: flex;
    border-bottom: 2px solid #500bc0;
}

.file-navigation-controls__left {
    width: 15%;
    height: 100%;
}

.file-navigation-controls__right {
    width: 85%;
    height: 100%;
    padding-right: 10px;
}

.file-navigation-controls__button {
    padding: 0 10px;
    border: 2px solid #500bc0;
    color: #500bc0;
    margin-left: 10px;
    transition: all 0.25s ease 0s;
}

.file-navigation-controls__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.file-navigation-controls__button:not(:disabled):hover {
    cursor: pointer;
    background-color: #500bc0;
    color: #fff;
}


.file-navigation-path {
    border: 2px solid #500bc0;
    padding: 0 10px;
    color: #500bc0;
    cursor: text;
}


.file-navigation__content {
    position: relative;
    height: 550px;
    overflow-y: auto;
    padding-bottom: 150px;
}

.file-navigation-entry {
    padding: 10px 8px;
    background-color: #fff;
    color: #500bc0;
    transition: all 0.25s ease 0s;
    display: flex;
    align-items: center;
}

.file-navigation-entry__left {
    display: flex;
}

.file-navigation-entry__right {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.file-navigation-entry:not(.to-move):hover {
    cursor: pointer;
    background-color: #500bc0;
    color: #fff;
}

.file-navigation-entry__icon {
    width: 60px;
    max-height: 40px;
}

.file-navigation__notification {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #500bc0;
    font-size: 25px;
}

.file-navigation-group {
    background-color: #8f7a03;
    padding: 0 5px;
    color: #fff;
}

.file-navigation-group__header {
    display: inline-block;
    margin: 5px 0;
    margin-left: 10px;
}

.file-navigation-group__button:hover {
    cursor: pointer;
}

.file-navigation__duplicates {
    padding: 5px 0;
}

.file-navigation-entry__path {
    /* max-width: 80%; */
    max-width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9d86c2;
    margin-top: 7px;
}

.file-manager-progress__container {
    margin-top: 30px;
}

.file-manager-progress__bar-wrapper {
    width: 100%;
    height: 15px;
    background: #fff;
    border: 3px solid #500bc0;
    overflow: hidden;
    margin-bottom: 8px;
}

.file-manager-progress__bar-fill {
    height: 100%;
    background: #500bc0;
    transition: width 0.1s ease-out;
}

.file-manager-progress__text {
    font-size: 18px;
    color: #500bc0;
    text-align: center;
}

.file-navigation-entry__icon {
    scale: 0.8;
    transition: all 0.3s ease 0s;
}

.file-navigation-entry:not(.to-move):hover .file-navigation-entry__icon {
    scale: 1;
}

.file-navigation__bottom {
    width: 100%;
    display: flex;
    border-top: 3px solid #500bc0;
}

.file-navigation__button {
    width: 50%;
    background-color: #fff;
    color: #500bc0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease 0s;
}

.file-navigation__button:hover {
    background-color: #500bc0;
    color: #fff;
    cursor: pointer;
}

.file-navigation-entry.to-move {
    opacity: 0.5;
    cursor: not-allowed;
}